<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Cloud Admin | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="~/Content/Site/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/Site/css/cloud-admin.css">

    <link href="~/Content/Site/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/Content/Site/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="~/Content/Site/js/uniform/css/uniform.default.min.css" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="~/Content/Site/css/animatecss/animate.min.css" />
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <!--toast-->
    <link href="~/Content/Plugin/toast/toastr.min.css" rel="stylesheet" />
</head>
<body class="login cor-fundo-logo" style="background: #363442">
    <!-- PAGE -->
    <section id="page">
        <!-- HEADER -->
        <header>
            <!-- NAV-BAR -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo">
                            <a href="index.html"><img src="~/Content/Site/img/logo-4beauty.png" height="40" alt="logo name" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/NAV-BAR -->
        </header>
        <!--/HEADER -->
        <!-- LOGIN -->
        <section id="login" class="visible">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box-plain">
                            <h2 class="bigintro">Funcionarios</h2>
                            <div class="divide-40"></div>
                            <form action="@Url.Action("LogarFuncionario","Login")" method="post" class="form-ajx">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Usuario</label>
                                    <i class="fa fa-user"></i>
                                    <input type="text" class="form-control" name="Login">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Senha</label>
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="form-control" name="Senha">
                                </div>
                                <div class="form-actions">
                                    <label class="checkbox"> <input type="checkbox" class="uniform" value=""> Relembrar Senha</label>
                                    <button type="submit" class="btn btn-danger" style="background:#a889bf; border:#a889bf;">Logar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/LOGIN -->
      
    </section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="~/Content/Site/js/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="~/Content/Site/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/Content/Site/bootstrap-dist/js/bootstrap.min.js"></script>

    <!-- UNIFORM -->
    <script type="text/javascript" src="~/Content/Site/js/uniform/jquery.uniform.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="~/Content/Site/js/script.js"></script>
    <!--toast-->
    <script src="~/Content/Plugin/toast/toastr.min.js"></script>
    <script src="~/Content/Plugin/toast/jquery.validate.min.js"></script>
    <script src="~/Content/Plugin/toast/jqueryFormAjax.js"></script>
    <script src="~/Content/Plugin/toast/formAjaxInit.js"></script>

    <script>
		jQuery(document).ready(function() {
			App.setPage("login");  //Set current page
			App.init(); //Initialise plugins and elements
		});
    </script>
    <script type="text/javascript">
		function swapScreen(id) {
			jQuery('.visible').removeClass('visible animated fadeInUp');
			jQuery('#'+id).addClass('visible animated fadeInUp');
		}
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>